!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*

#!.ssh/
#!id_rsa*

!node-red/

secrets.yaml

.ssh
.storage
.cloud
.google.token
home-assistant.log*
id_rsa*
.log
.log.txt
.storage
.cloud
.google.token
home-assistant.log
home-assistant_v2
